html
  head
    title Keepo - Keep Orders Tracked
    script(src="/modules/angular2/bundles/angular2-polyfills.js")
    script(src="/modules/rxjs/bundles/Rx.umd.js")
    script(src="/modules/angular2/bundles/angular2-all.umd.js")

  body
    my-app Loading...
    script(src="/app/app.component.js")
    script(src="/app/boot.js")
