html, body {
  background: #43a047;
}

.container .col.login {
  background: #fff;
  padding: 40px 20px;
  margin-top: 100px;
  text-align: center;
}

.container .col.login h1 {
  font-size: 21px;
  text-transform: uppercase;
  margin: 10px;
}

@media only screen and (min-width: 601px) {
  .container {
      width: 500px !important;
  }
}
